{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<h1>Sign Up</h1>
<div class="container">
    <br>
    <form>
        <div class="mb-3">
          <input 
          type="email" 
          class="form-control" 
          id="email" 
          name= "email"
          placeholder= "Enter Email"
          aria-describedby="email">
          
        </div>
        <div class="mb-3">
            <input 
            type="text" 
            class="form-control" 
            id="firstname" 
            name= "firstname"
            placeholder= "What's your name?"
            aria-describedby="name">
            
          </div>
          <div class="mb-3">
            <input 
            type="password" 
            class="form-control" 
            id="password1" 
            name= "password1"
            placeholder= "enter a password"
            aria-describedby="password1">
            
          </div>
          <div class="mb-3">
            <input 
            type="password" 
            class="form-control" 
            id="password2" 
            name= "password2"
            placeholder= "re enter a password"
            aria-describedby="password2">
            
          </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

{% endblock %}  